body {
	background-color: #ccc;
	padding-top: 2px;
	text-align: center;
}
.initial {
	padding-top: 140px;
}
.search {
	padding: 40px 15px;
	text-align: center;
}
#displayBlock	{
	padding-top: 25px;
}
